/* @import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css'; */


.preloader{left:0;top:0;}
.preloader img{}
.preloader p {
    font-weight: bold;
    text-shadow: 4px -1px 0px #58d487;margin-top: -59px;
}
p.sub-title {
  color: #444;
  max-width: 800px;
  margin: 20px auto;
  line-height: 38px;
  font-weight: 600;
  font-size: 30px;
}
.title {
  color: #333;
  text-shadow: 4px 2px 0px #a0d063;
  font-size: 70px;
}
.active{color:#a0d063 !important}

body #particles-js canvas{display:none !important;}
    /* #particles-js{
    background-image: url('./hacker_4k_8k-7680x4320.jpg');
    background-blend-mode: hard-light;
} */


.glitch {
    color: black;
    font-size: 60px;
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
  .glitch2 {
    color: black;
    font-size: 35px;
    position: relative;
    width: 345px;
    margin: 0 auto;
  }
  
  @keyframes noise-anim {
    0% {
      clip-path: inset(37% 0 50% 0);
    }
    5% {
      clip-path: inset(32% 0 26% 0);
    }
    10% {
      clip-path: inset(6% 0 12% 0);
    }
    15% {
      clip-path: inset(48% 0 44% 0);
    }
    20% {
      clip-path: inset(59% 0 18% 0);
    }
    25% {
      clip-path: inset(71% 0 30% 0);
    }
    30% {
      clip-path: inset(48% 0 11% 0);
    }
    35% {
      clip-path: inset(2% 0 92% 0);
    }
    40% {
      clip-path: inset(46% 0 8% 0);
    }
    45% {
      clip-path: inset(59% 0 3% 0);
    }
    50% {
      clip-path: inset(71% 0 14% 0);
    }
    55% {
      clip-path: inset(93% 0 1% 0);
    }
    60% {
      clip-path: inset(24% 0 18% 0);
    }
    65% {
      clip-path: inset(80% 0 10% 0);
    }
    70% {
      clip-path: inset(49% 0 43% 0);
    }
    75% {
      clip-path: inset(2% 0 90% 0);
    }
    80% {
      clip-path: inset(64% 0 22% 0);
    }
    85% {
      clip-path: inset(42% 0 19% 0);
    }
    90% {
      clip-path: inset(78% 0 21% 0);
    }
    95% {
      clip-path: inset(46% 0 8% 0);
    }
    100% {
      clip-path: inset(9% 0 88% 0);
    }
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    0% {
      clip-path: inset(20% 0 27% 0);
    }
    5% {
      clip-path: inset(33% 0 42% 0);
    }
    10% {
      clip-path: inset(11% 0 44% 0);
    }
    15% {
      clip-path: inset(68% 0 16% 0);
    }
    20% {
      clip-path: inset(4% 0 17% 0);
    }
    25% {
      clip-path: inset(11% 0 30% 0);
    }
    30% {
      clip-path: inset(6% 0 90% 0);
    }
    35% {
      clip-path: inset(72% 0 21% 0);
    }
    40% {
      clip-path: inset(13% 0 41% 0);
    }
    45% {
      clip-path: inset(12% 0 40% 0);
    }
    50% {
      clip-path: inset(87% 0 3% 0);
    }
    55% {
      clip-path: inset(33% 0 68% 0);
    }
    60% {
      clip-path: inset(95% 0 3% 0);
    }
    65% {
      clip-path: inset(59% 0 14% 0);
    }
    70% {
      clip-path: inset(10% 0 6% 0);
    }
    75% {
      clip-path: inset(98% 0 1% 0);
    }
    80% {
      clip-path: inset(96% 0 5% 0);
    }
    85% {
      clip-path: inset(36% 0 20% 0);
    }
    90% {
      clip-path: inset(11% 0 51% 0);
    }
    95% {
      clip-path: inset(81% 0 6% 0);
    }
    100% {
      clip-path: inset(67% 0 19% 0);
    }
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }
  #particles-js {
    background-color: #fff;
  }

  .who_is_me .who_am_i{
      color: #333;
      position: relative;
      z-index: 999;
      font-size:25PX;
      line-height:40px;
      text-align: left;
      /* font-family: 'Monoton', cursive;  */
  }
  article.who_is_me:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #a0d063;
    border-radius: 0 100% 0 0;
    box-shadow: 13px -4px 0px 0px #bce883;
}
    .who_is_me h3{
      display: inline; 
      margin: 0; 
      color:#333;
      font-weight:bolder; 
      font-size:50px; 
      /* font-family: 'Kaushan Script', cursive; */
    }
      .who_is_me{
      position: absolute;
      height: 100%;
      top: 0;
      width: 350px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
    /* position: absolute;
    left: -5%;
    top: -18%;
    font-size: 30px;
    line-height: 40px;
    width: 749px;
    text-align: left;
    padding: 15px 30px;
    height: 200%;
    transform: rotate(-48deg);
    background: #79bb4a; */
  }
  .skills .nav li a{padding:0 15px; position: relative; }
  
    .skills .nav li a::after {
    content: '';
    position: absolute;
    height: 152%;
    width: 2px;
    background: #a0d063;
    top: -38px;
    right: 0;
}
.skills .nav li:last-child a::after {
  display:none;
}
  .skills .nav li a img{ height:40px; width:auto; transition:none; opacity:1 !important;}
  .skills .nav li a:hover img{filter:grayscale(0)}
  .skills .nav li a.active img{filter:grayscale(0)}
    .skills .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
    .skills {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
ul.nav.navbar.contact a { color:#fff;font-weight:bolder; letter-spacing:0.5px; }
ul.nav.navbar.contact a::after{
  content: '';
  position: absolute;
  height: 106%;
  width: 2px;
  background: #ffffff;
  top: 0;
  right: 0;
}
  ul.nav.navbar.contact {
  justify-content: flex-start;
  position: absolute;
  bottom: 25px;
}
.header-info li span{color:#333; font-size:16px;}
.header-info li{padding:4px 10px;}
  .header-info{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    display: flex;
    color: #333;
    /* background: #f3f2f1; */
    padding: 5px 15px;
    /* border-bottom: 1px solid #333; */

}
/* .header-info::after{ 
  content: '';
  position: absolute;
  width: 60px;
  height: 30px;
  border-top: solid 30px rgb(200,30,50);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
} */
#map_bg::after{
  content: '';
  position: absolute;
  height: 100%;
  width:100%;
  background:rgba(255, 255, 255, 0.7294117647058823);
  top: 0;
  right: 0; 
}
  #map_bg{
  overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: #fff;
}



#wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
#wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
#scroll-down {
  display: block;
  position: relative;
  padding-top: 60px;
  text-align: center;
}
.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 18px;
}
.arrow-down:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #a0d063;
  border-right: 2px solid #a0d063;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#scroll-title {
  display: block;
  text-transform: uppercase;
  color: #a0d063;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 65px;
  background: #a0d063;
  content: ' ';
}
@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}







.project .proset{padding:20px;width:100%; }
.project .proset li{ 
  overflow: hidden;
    height: 300px;
    margin: 0 5px;
    background-color: #fafafa;
    border: 4px solid #58d487;
    /* padding: 20px; */
    border-radius: 0 0 110px 0;
}
.project .proset li a{display:block;}
.project .proset li a article{position: relative; background-position:center; background-size:cover; background-repeat: no-repeat; padding: 20px; background-size:cover;}
.project .proset li a article::before{
  content:'';
  position: absolute;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.81);
  top:0; left:0;
  opacity:0.8;
  z-index:0;
  opacity:0;
}
.project .proset li a:hover article::before{
  opacity:1;
}
.project .proset li a:hover h3{
  opacity:1;
}     
  .project .proset li a h3{     
  opacity:0;
  margin-bottom: 12px;
  z-index: 1;
  position: relative;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  text-shadow: 2px 1px 0px #a2d066;
}
.project .proset li a:hover h4{
  opacity:1;
}
.project .proset li a h4{ opacity:0; margin-bottom:12px;z-index:1; position: relative;font-size:20px; font-weight:bolder; color:#fff;}
.project .proset li a .fa{
  color: #58d487;
  width: 26px;
  text-align: center;
  height: 24px;
  font-size: 12px;
  background: #5cd89575;
  /* color: #fff; */
  line-height: 25px;
  border-radius: 12px 0 12px 0px;
}
.project .proset li a:hover p{
  opacity:1;
}
.project .proset li a p{ opacity:0; z-index:1; position: relative;font-size:20px; line-height:25px; font-weight:lighter; color:#fff !important;}
.company-list{display:flex; padding: 30px 0 0}
.company-list .media-body{text-align:left;}
.company-list .media{padding:0 0px;}
.company-list .media:nth-child(odd){border-right:3px dotted #a0d063;}
.company-list .media:nth-child(even){padding-right:0px;}
.company-list .media{display:flex;justify-content: left; align-items: center; }
.company-list .media-body h1{position: relative; font-size:20px; margin-bottom:12px; color:#333; font-weight:bolder; text-transform:uppercase }
.company-list .media-body h1::after{
  content:'';
  position: absolute;
  width:90px;
  bottom:-4px;
  height:3px;
  left:0;
  animation:scc infinite linear 8s ;
  background-color: #a0d063;

}
.company-list .media-body h2{font-size:18px; margin-bottom:5px; color:#333;}
.company-list .media-body time{font-size:16px; color:#444; margin-bottom: 12px; display:block;}
.company-list .media-body p{font-size:16px; color:#444;}
.company-list img{height:90px;}

@keyframes scc{
  0%{ width:10px;}
  100%{ width:290px;}
}

.project li a {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: inherit;
}
button.slick-next.slick-arrow {
  position: absolute;
  bottom: -20px;
  font-size: 30px;
  margin-right:0;
  color: #a0d063;
}
button.slick-prev.slick-arrow {
  position: absolute;
  bottom: -20px;
  font-size: 30px;
  color: #a0d063;
  margin-left: -142px;
}


span.techno {
  position: absolute;
  bottom: 57px;
    right: -80px;
  background: #f83f37;
  font-size: 25px;
  padding: 12px;
  color: #fff;
  font-weight: bold;
  transform: rotate(-40deg);
  width: 50%;
  text-align: center;
  box-shadow: 2px 3px 6px 4px rgba(206, 206, 206, 0.65);
}






